DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,web,testserver

POSTGRES_DB=exam_db
POSTGRES_USER=exam_user
POSTGRES_PASSWORD=exam_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

TIME_ZONE=Asia/Yakutsk
SEED_DEMO_DATA=true
