DJANGO_DEBUG=False
DJANGO_SECRET_KEY=change-me-to-a-long-random-value
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,194.34.239.165

POSTGRES_DB=exam_db
POSTGRES_USER=exam_user
POSTGRES_PASSWORD=change-me-to-a-long-random-value
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

TIME_ZONE=Asia/Yakutsk
SEED_DEMO_DATA=false
